<!doctype HTML> 
<!--   Find this page at localhost:8090   -->

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="customStyles.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="app.js"></script>
</head>

<body ng-app="xsellMockApp" ng-controller="xsellMockController">

<div class="container">
	<div class="header">
		<h3 class="text-muted">Mock only! This is Not Real!</h3>
	</div>

	<div class="jumbotron">
		<h1>CrossSell Builder 2.0</h1>
		<p class="lead">In the world of tomorrow, you never have to look up skus to build a cross sell. You just save a description of what you want to go in each slot.
		SOLR, the search engine that powers search on our website, is then responsible for finding the best item to match your description. The best part is, if the best match
		sells out, SOLR will find the next closest item and automatically put it into the crosssell.</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Keystone Item:</h2>
				<form ng-submit="getKeystone(keystoneInput)">
					<div class="input input-group col-md-8">
						<input type="text" class="form-control" ng-model="keystoneInput" placeholder="ABC1234" tabindex=1 ng-change="keystoneInputToUpper()">
						<span class="input-group-btn"><button class="btn btn-default" ng-click="getKeystone(keystoneInput)">Find</button></span>
					</div>
				</form>
				<div class="row">
					<div class="col-md-10">
						<h3><b>{{keystone.brand}}</b>
							{{keystone.title}}</h3>

						<a ng-href="{{keystone.url}}" class="thumbnail" target="_blank">
							<img ng-src="{{keystone.imageUrl}}">
						</a> 
					</div>
				</div>
				<div class="row col-md-10">
					<button class="col-md-8 col-md-offset-4 btn btn-success btn-lg" ng-click="resetKeystone()" tabindex=5>Save</button>
				</div>
			</div>

			<div class="row col-md-8">
				<div class="text-center">
					<h2>Cross Sell Terms</h2>
				</div>
				<div>
					<p>In each column, type a search term that will be used to populate the cross-sell. Customers will see the top result from each column.
					If the top items sell out, lower items will automatically be used.</p>
					<p>Tip: Use tab to move between search boxes!</p>
				</div>

				<div class="col-md-4">
					<form ng-submit="getRecommendation(slot1, input1)" >
						<input type="text" class="form-control form-control-lg" placeholder="Slot 1" ng-model="input1" ng-blur="getRecommendation(slot1, input1)" tabindex=2>
					</form>

					<div ng-repeat="item in slot1" class="col-md-8 col-md-offset-2" ng-class="{muted: $index != 0}">
						<a ng-href="{{item.url}}" class="thumbnail headspace" target="_blank">
							<img ng-src="{{item.imageUrl}}">
						</a>
						<div><b>{{item.brand}}</b></div>
						<div>{{item.title}}</div>
					</div>
				</div>

				<div class="col-md-4">
					<form ng-submit="getRecommendation(slot2, input2)" >
						<input type="text" class="form-control form-control-lg"  placeholder="Slot 2" ng-model="input2" ng-blur="getRecommendation(slot2, input2)" tabindex=3>
					</form>

					<div ng-repeat="item in slot2" class="col-md-8 col-md-offset-2" ng-class="{muted: $index != 0}">
						<a ng-href="{{item.url}}" class="thumbnail headspace" target="_blank">
							<img ng-src="{{item.imageUrl}}">
						</a>
						<div><b>{{item.brand}}</b></div>
						<div>{{item.title}}</div>
					</div>
				</div>

				<div class="col-md-4">
					<form ng-submit="getRecommendation(slot3, input3)" >
						<input type="text" class="form-control form-control-lg"  placeholder="Slot 3" ng-model="input3" ng-blur="getRecommendation(slot3, input3)" tabindex=4>
					</form>

					<div ng-repeat="item in slot3" class="col-md-8 col-md-offset-2" ng-class="{muted: $index != 0}">
						<a ng-href="{{item.url}}" class="thumbnail headspace" target="_blank">
							<img ng-src="{{item.imageUrl}}">
						</a>
						<div><b>{{item.brand}}</b></div>
						<div>{{item.title}}</div>
					</div>
				</div>
			</div>
		</div>

		<!--end body container-->
	</div>
	<footer>
		<div id="bottom" class="text-muted">A preview of things to come</div>
	</footer>
</div>




</body>


</html>
